* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #141414;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    z-index: 999;
    display: flex;
    align-items:center;
    padding: 0 20px;
    gap: 10px;
}

nav img{
    height: 140px;
}
nav .menu {
    color: gainsboro;
    margin-left: auto;
    display: flex;
    gap: 20px;
}

nav .icons{
    color: gainsboro;
    margin-left: auto;
    display: flex;
    gap: 20px;
}


.wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    z-index: 9999;
}

.hero-content {
    position: absolute;
    margin: 20px;
    left: 5%;
    transform: translateY(-220%);
    color: #fff;
}

.play{
    height: 40px;
    width: 100px;
    border-radius:10px ;
    margin-top: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    color: black;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.genre {
    font-size: 18px;
    opacity: 0.8;
    margin: 0px;
}

.hero-content img {
    height: 250px;
}

.video-container h1{
    position: absolute;
    top: 77%;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    z-index:9999;
}

.pop-container {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    margin-top: -150px;
    position: relative;
    z-index: 9999;
    overflow-x: auto;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgb(10, 10, 0));
}

.pop-box {
    width: 250px;
    height: 150px;
    flex-shrink: 0;
    background-color: red;
}

.pop-box img{
    height: 150px;
    width: 250px;
}